.login-page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
    background: linear-gradient(255deg,rgba(183, 42, 26, 0.059) 0%, rgb(27, 27, 27) 50%, rgba(183, 42, 26, 0.048) 100%);
    border: 1px solid var(--bg-panel);
    padding: 40px 30px;
    border-radius: 8px;
    color: var(--text-primary);
    width: 360px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
}
.mat-form-field-wrapper{
  width: 100%;
}
.mat-form-field-input{
  background-color: rgba(255, 0, 0, 0);
}

.error-label{
  height: 15px;
  margin: -10px auto;
  width: 95%;
}
.error-label > p{
  color: red;
  font-size: 12px;
}
