.login-page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
    background: #fff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 360px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}
.login-container input {
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    margin: 8px 0 3px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.login-btn {
    background-color: #007bff;
    color: white;
}
.login-btn:hover {
    background-color: #0056b3;
}
.register-btn {
    background-color: #28a745;
    color: white;
    margin-top: 10px;
}
.register-btn:hover {
    background-color: #1e7e34;
}

.error-label{
  /* background-color: green; */
  height: 25px;
}
.error-label > p{
  color: red;
  font-size: 12px;
}
