<div class="register-page">
  <div class="register-container">
    <h2>PatchLens</h2>
    <form [formGroup]="registerFormGroup">
      <mat-stepper #stepperRef [linear]="true">
        <mat-step [stepControl]="registerFormGroup">
          <!-- <form [formGroup]="usernameGroup"> -->
            <ng-template matStepLabel>Username</ng-template>
            <mat-form-field class="mat-form-field-wrapper">
              <mat-label>Enter Username</mat-label>
              <input type="text" matInput formControlName="username">
              @if (registerFormGroup.get('username')?.invalid) {
                <mat-error>Invalid Username</mat-error>
              }
            </mat-form-field>
            <div>
              <button matButton matStepperNext>Next</button>
            </div>
          <!-- </form> -->
        </mat-step>

        <mat-step [stepControl]="registerFormGroup">
          <!-- <form [formGroup]="passwordGroup"> -->
            <mat-form-field class="mat-form-field-wrapper">
              <ng-template matStepLabel>Password</ng-template>
              <mat-label>Enter Password</mat-label>
              <input formControlName="password" type="password" matInput>
              @if (registerFormGroup.get('password')?.invalid) {
                <mat-error>Invalid Password</mat-error>
              }
            </mat-form-field>
            <div>
              <button matButton matStepperPrevious>Back</button>
              <button matButton matStepperNext>Next</button>
            </div>
          <!-- </form> -->
        </mat-step>

        <mat-step [stepControl]="registerFormGroup">
          <!-- <form [formGroup]="emailGroup"> -->
            <mat-form-field class="mat-form-field-wrapper">
              <ng-template matStepLabel>Email</ng-template>
              <mat-label>Enter Email</mat-label>
              <input formControlName="email" type="email" matInput>
              @if (registerFormGroup.get('email')?.invalid) {
                <mat-error>Invalid Email</mat-error>
              }
            </mat-form-field>
            <div>
              <button matButton matStepperPrevious>Back</button>
              <button matButton (click)="submitHandler()">Submit</button>
            </div>
          <!-- </form> -->
        </mat-step>
      </mat-stepper>
    </form>

  </div>

</div>
