
/* body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: linear-gradient(135deg, #2e7d32, #66bb6a);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.register-page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  background: linear-gradient(255deg,rgba(183, 42, 26, 0.059) 0%, rgb(27, 27, 27) 50%, rgba(183, 42, 26, 0.048) 100%);
  border: 1px solid var(--bg-panel);
  padding: 40px 30px;
  border-radius: 8px;
  color: var(--text-primary);
  width: 50%;
}

.mat-form-field-wrapper{
  width: 70%;
}


.error-label{
  /* background-color: green; */
  height: 20px;
}
.error-label > p{
  color: red;
  font-size: 12px;
  margin-top: 3px;
}
