
/* body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: linear-gradient(135deg, #2e7d32, #66bb6a);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */
.register-page{
  height: 100vh;
  background-color: rgba(54, 54, 54, 0.421);
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 40px;
  width: 100%;
  max-width: 400px;
  color: black;
}

.register-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2e7d32;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin: 8px 0 4px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #2e7d32;
}

button {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1b5e20;
}

.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #2e7d32;
  text-decoration: none;
  font-weight: 600;
}

.login-link a:hover {
  text-decoration: underline;
}

.error-label{
  /* background-color: green; */
  height: 20px;
}
.error-label > p{
  color: red;
  font-size: 12px;
  margin-top: 3px;
}
