<div class="register-page">
  <div class="register-container">
    <h2>PatchLens</h2>
      <mat-stepper [linear]="true">
        <mat-step [stepControl]="pinGroup">
          <form [formGroup]="pinGroup">
            <mat-form-field class="mat-form-field-wrapper">
              <ng-template matStepLabel>PIN</ng-template>
              <mat-label>Enter your PIN</mat-label>
              <input formControlName="pinField" type="password" inputmode="numeric" matInput>
              @if (pinGroup.get('pinField')?.invalid) {
                <mat-error>{{pinGroup.get('pinField')?.errors?.['invalidError']}}</mat-error>
              }
            </mat-form-field>
            <div>
              <button matButton matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>


        <mat-step [stepControl]="pinVerifyGroup">
          <form [formGroup]="pinVerifyGroup">
            <mat-form-field class="mat-form-field-wrapper">
              <ng-template matStepLabel>PIN Verify</ng-template>
              <mat-label>Enter your PIN Again</mat-label>
              <input formControlName="pinFieldVerify" type="password" inputmode="numeric" matInput>
              @if (pinVerifyGroup.get('pinFieldVerify')?.invalid) {
                <mat-error>{{pinVerifyGroup.get('pinFieldVerify')?.errors?.['invalidError']}}</mat-error>
              }
            </mat-form-field>
            <div>
              <button matButton matStepperPrevious>Back</button>
              <button matButton matStepperNext (click)="nextStepHandler(pinVerifyGroup)">Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="playerIdGroup">
          <form [formGroup]="playerIdGroup">
            <mat-form-field class="mat-form-field-wrapper">
              <ng-template matStepLabel>Player ID</ng-template>
              <mat-label>Enter or Paste your Player ID</mat-label>
              <input  type="number" pattern="[0-9]*" inputmode="numeric" formControlName="playerIdField" matInput>
              @if (playerIdGroup.get('playerIdField')?.invalid) {
                <mat-error>Invalid Player ID</mat-error>
              }
            </mat-form-field>
            <div>
              <button matButton matStepperPrevious>Back</button>
              <button matButton (click)="submitHandler()">Submit</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>

  </div>

</div>
