 h1, h2, h3, p{
  font-weight: 100;
}

.hero-insight-container{
  height: 80%;
}
.hero-insight-container > .hero-insight-heroes-played-flexbox {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box {
  width: 30%;
  margin: 0px 10px;
  display: inline-block;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card{
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-panel);;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .header-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .mat-card-avatar-class{
  margin-right: 10px;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .heroes-played-role{
  font-size: 0.9em;
}

