 h1, h2, h3{
  font-weight: 100;
}
p{
    color: var(--text-secondary);
}


.hero-insight-component-ai-summary-container{
  margin: auto;
  color: var(--text-primary);
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-panel);
}
.hero-insight-container{
  height: 80%;
}
/* .mat-expansion-panel-header-description isn't used but it makes the justify-content and align-items work */
.hero-insight-container-expansion-panel .mat-expansion-panel-header-description{
  justify-content: space-between;
  align-items: center;
}
.hero-insight-container > .hero-insight-container-header-box{
  padding: 5px 5px;
  margin: 0px 0px 15px 0px;
}
.hero-insight-container > .hero-insight-heroes-played-flexbox {
  display: flex;
  height: 100%;
}
.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box {
  margin: 0px 10px;
  flex-grow: 1;
  display: inline-block;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card{
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-panel);
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .header-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .mat-card-avatar-class{
  margin-right: 10px;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .heroes-played-role{
  font-size: 0.9em;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card mat-card-content{
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .mat-card-content-box{
  text-align: center;
}

.hero-insight-container > .aggregate-container{
  margin: 25px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 10em;
}
.hero-insight-container > .aggregate-container > .aggregate-box{
  margin: 5px 10px;
  color: var(--text-primary);
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-panel);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  font-size: 0.9em;
  height: 50px;
  width: 20%;
}
