 h1, h2, h3{
  font-weight: 100;
}
p{
    color: var(--text-secondary);
}

.hero-insight-container{
  height: 80%;
}
.hero-insight-container > .hero-insight-heroes-played-flexbox {
  display: flex;
  height: 100%;
}
.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box {
  margin: 0px 10px;
  flex-grow: 1;
  display: inline-block;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card{
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-panel);;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .header-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .mat-card-avatar-class{
  margin-right: 10px;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .heroes-played-role{
  font-size: 0.9em;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card mat-card-content{
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

.hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .mat-card-content-box{
  text-align: center;
}
