@media only screen and (min-width: 1600px) {
  .hero-insight-container > .hero-insight-heroes-played-flexbox > .hero-insight-heroes-played-box > mat-card .heroes-played-role{
    font-size: 1em;
  }
}
