

/* this class isn't used by any container in the hero-detail.html
but it stil applies somehow to create space between header description and mat-icon */
.mat-expansion-panel-header-description  {
  justify-content: space-between;
  align-items: center;
}

.hero-detail-component-ai-summary-container {
  width: 70%;
  margin: auto;
  color: var(--text-primary);
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-panel);
}
.hero-detail-component-ai-summary-content-box{
  padding: 10px;
}


mat-card{
    background: linear-gradient(79deg,rgba(201, 161, 74, 0.015) 0%, rgba(27, 27, 27, 0.662) 60%, rgba(201, 161, 74, 0.021) 100%);
    padding: 17px;
    flex-basis: 100%;
    margin: 10px 5px;
    border-radius: 20px;
    border: 1px solid var(--bg-panel);
    font-weight: 100;
}

.hero-detail-container h1, h2, p{
  font-weight: 100;
}

.hero-detail-component-one{
  color: var(--text-primary);
  width: 70%;
  padding: 15px;
  margin: 1px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-detail-component-one > .hero-detail-component-one-box1{
  width: 80%;
  margin: auto;
}
.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-avatar > img{
  border-radius: 20px;
}
.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats{
  width: 80%;
}
.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats > .name-role-box > h1, p{
  margin: 7px 0px;
}

.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats > .table-box{
  background-color: var(--bg-dark);
  border-radius: 20px;
  border: 1px solid var(--bg-panel);
  padding: 10px;
  flex-basis: 100%;
  font-weight: 100;
}

.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats > .table-box p{
  font-size: 15px;
}
.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats > .table-box > table {
  width: 80%;
}

.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats > .table-box > table .table-box-td-flexbox{
  display: flex;
  align-items: center;
  justify-content: left;
}

.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats > .table-box > table img{
  height: 15%;
  width: 15%;
  display: block;
  margin-right: 5px;
}

/* .hero-detail-component-one > .hero-detail-component-box2{

} */
.hero-detail-component-one > .hero-detail-component-one-box2{

}
.hero-detail-component-one > .hero-detail-component-one-box2 > #doughnutWinrateTitleId{
  text-align: center;
}
.hero-detail-component-one > .hero-detail-component-one-box2 > #hero-detail-doughnut-chart{
  width: 80%;
  margin: 0px auto;
}
.hero-detail-component-one > .hero-detail-component-one-box2 > #doughnutTotalWinsBox{
  width: 70%;
  margin: auto;
  background-color: var(--bg-dark);
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--bg-panel);
}
.hero-detail-component-one > .hero-detail-component-one-box2 > #doughnutTotalWinsBox > table{
  width: 100%;
}

.hero-detail-component-one > .hero-detail-component-one-box2 {
  text-align: center;
}



.hero-detail-component-two{
  width: 70%;
  margin: 50px auto;
  color: var(--text-primary);
}

.hero-detail-component-two > .hero-detail-component-two-metrics-container{
  display: flex;
  justify-content: space-around;
}

.hero-detail-component-two > .hero-detail-component-two-metrics-container .hero-detail-component-two-metrics-box{
  text-align: center;
}

.hero-detail-component-three{
  width: 70%;
  padding: 15px;
  margin: 0px auto;
  color: var(--text-primary);
}

/* .hero-detail-component-three > .hero-detail-component-three-trendbox{
} */

