.hero-detail-component-one{
  color: var(--text-primary);
  width: 70%;
  padding: 15px;
  margin: 5px auto;
  /* background-color: var(--bg-dark); */
  background: linear-gradient(79deg,rgba(201, 161, 74, 0.04) 0%, rgba(27, 27, 27, 1) 54%, rgba(201, 161, 74, 0.04) 100%);

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-detail-component-one > .hero-detail-component-one-box1{
  width: 80%;
  margin: auto;
}
.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-avatar > img{
  border-radius: 20px;
}
.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats{
  width: 80%;
}
.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats > .name-role-box > h1, p{
  margin: 7px 0px;
}
.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats > .table-box p{
  font-size: 18px;
}
.hero-detail-component-one > .hero-detail-component-one-box1 > .hero-detail-component-one-box1-hero-stats > .table-box > table {
  width: 80%;
}

/* .hero-detail-component-one > .hero-detail-component-box2{

} */
.hero-detail-component-one > .hero-detail-component-one-box2 > div{

  display: block;
  margin: 10px auto;
  width: 50%;
}


.hero-detail-component-two{
  width: 70%;
  margin: 20px auto;
  color: var(--text-primary);
}

.hero-detail-component-two > .hero-detail-component-two-metrics-container{
  display: flex;
  justify-content: space-around;
}
mat-card{
    background: linear-gradient(79deg,rgba(201, 161, 74, 0.04) 0%, rgba(27, 27, 27, 1) 54%, rgba(201, 161, 74, 0.04) 100%);
    padding: 17px;
    flex-basis: 100%;
    margin: 10px 5px;
    border-radius: 20px;
}
.hero-detail-component-two > .hero-detail-component-two-metrics-container .hero-detail-component-two-metrics-box{
  text-align: center;
}
