<div class="background-navbar" >
  <mat-form-field class="mat-form-field-wrapper">
    <mat-label>Search a Hero</mat-label>

    <input type="text" matInput [formControl]="SearchFormControl"  [matAutocomplete]="auto" />


    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredHeroes | async; track option) {
        <mat-option class="mat-option-text" [value]="option">{{option.localized_name}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <button matFab [matMenuTriggerFor]="menu">
    <mat-icon class="account-icon">account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings_account_box</mat-icon> Account Settings
    </button>
    <button mat-menu-item (click)="logoutMethod()">
     <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-menu>

</div>
