
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  /* expansion panel for AI sumnary */
    @include mat.expansion-overrides((
      header-text-color: var(--text-primary),
      header-description-color: var(--text-secondary)
  ));

  /* Account mat-icon on top right corner */
  @include mat.fab-overrides((
    container-color: none,
    container-elevation-shadow: none,
    focus-container-elevation-shadow: none
  ));
  /* button with account icon and a menu for account settings and logout */
  @include mat.menu-overrides((
      container-color: var(--bg-panel),
      item-label-text-color: var(--text-primary),
      item-icon-color: var(--text-primary)
  ));

  /* override color of text & background of forms and autocomplete material components */
  @include mat.form-field-overrides((
    filled-container-color: var(--bg-panel),
    filled-container-shape: 10px,

    //line bottom
    filled-active-indicator-height: 1px,
    filled-active-indicator-color: var(--bg-dark),

    //text
    filled-input-text-color: var(--text-primary),
    filled-label-text-color: var(--text-secondary),
    filled-focus-label-text-color: var(--red)

  ));


  @include mat.autocomplete-overrides((
    background-color: var(--bg-panel)
  ));
  @include mat.select-overrides((
      enabled-trigger-text-color: green
  ));

}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  //color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
/*   background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
 */
  // Reset the user agent margin.
  /* margin: 0; */
}
