.background-main{
  background-color: var(--bg-dark);
}

.tab-container{
  color: var(--text-primary);
  background-color: #2e2e2e79;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  padding: 15px;
}

.tab-label{
  color: var(--text-primary);
  font-size: 15px;
}
.tab-label-icon{
    color: var(--text-primary);

}
